body {
    color: #000000;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
}

.section-sub-title-blue {
    color: #005FA3;    
}

.header-contact-link {
    text-decoration: none;
}

.header-contact-text {
    color: #000000;        
    font-size: 13px;    
    font-weight: 400;
    line-height: 17px
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;    
    font-size: 14px;    
    font-weight: 700;    
    letter-spacing: 1.4px;    
}

.desc {
    background-color: #191E22;
    background-image: url(../img/screen-bkg-first.jpg);
}

.desc-title,
.desc-link {
    color: #FFF;
}

.desc-title {     
    font-family: 'Merriweather';
    font-size: 48px;    
    font-weight: 700;
    line-height: 66px;
}

.desc-link {
    text-decoration: none;    
    text-align: center;    
    font-size: 25px;    
    font-weight: 400;
    line-height: 35px;
    background: #005FA3 ;
}

.service {
    background-color: #EBEBEB;
}

.section-title {
    color: #BDBDBD;
    font-size: 24px;    
    font-weight: 900;
    line-height: 33px;
}

.section-subtitle {
    color: #333333;    
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.service-item-link {    
    background-color: #191E22;
    background-image: url(../img/screen-bkg-second.jpg);
    text-decoration: none;
}

.service-item-title {    
    color: #FFF;    
    font-size: 24px;    
    font-weight: 900;
    line-height: 30px;
}

.button {
    color: #FFF;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit; 
    line-height: inherit;
    background: #005FA3;
    border: none;
}

.review-item {
    background: #EBEBEB;

}

.review-item-text {
    color: #000000;
}

.review-item-author {
    color: #000000;
    font-weight: 900;
}

.review-item-position {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.about-item {
    background: #EBEBEB;
}

.about-item-num {
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
}

.about-item-header {
    font-size: 14px;    
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.about-item-link {
    font-size: 14px;    
    font-weight: 700;
    line-height: 17px;
    color: #005FA3;
}

.advantage {
    background: #EBEBEB;    
}

.advantage-desc {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;    
    text-align: left;
}

.footer-bkg {
    background: #161616;
    color: #FFF;
    background-image: url(../img/screen-bkg-third.jpg);
}

.white {
    color: #FFF;
}

.footer-contact-text {
    font-size: 21px;
    line-height: 29px;    
}

.footer-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}